version: '2'
services:

  plex:
    # https://hub.docker.com/r/plexinc/pms-docker/
    image: plexinc/pms-docker:plexpass
    container_name: plex
    hostname: plex
    network_mode: host
    mem_limit: 3g
    env_file:
    - tz.env
    environment:
    # The claim token for the server to obtain a real server token: https://www.plex.tv/claim
    # - PLEX_CLAIM=<claimToken>
    # This variable defines the additional IPs on which the server may be be found
    # - ADVERTISE_IP=http://<hostIPAddress>:32400/
    # The user / group id of the plex user / group created inside the container
    - PLEX_UID=%UID%
    - PLEX_GID=%GID%
    # IP/netmask entries which allow access to the server without requiring authorization
    # - ALLOWED_NETWORKS=<allowedNetworks>
    # ports:
    # - '32400:32400/tcp' # for access to the Plex Media Server [required]
    # - '1900:1900/udp' # for access to the Plex DLNA Server
    # - '3005:3005/tcp' # for controlling Plex Home Theater via Plex Companion
    # - '8324:8324/tcp' # for controlling Plex for Roku via Plex Companion
    # - '32410:32410/udp' # for current GDM network discovery
    # - '32412-32414:32412-32414/udp' # for current GDM network discovery
    # - '32469:32469/tcp' # for access to the Plex DLNA Server
    volumes:
    - %HOME%/.media/plex:/config
    - %MEDIA%/movies:/data/movies
    - %MEDIA%/music:/data/music
    - %MEDIA%/tvshows:/data/tvshows

  tautulli:
    # https://hub.docker.com/r/tautulli/tautulli/
    image: tautulli/tautulli
    container_name: tautulli
    hostname: tautulli
    depends_on:
    - plex
    env_file:
    - tz.env
    - ids.env
    ports:
    - '8181:8181'
    volumes:
    - %HOME%/.media/tautulli:/config
    - %HOME%/.media/plex/Library/Application Support/Plex Media Server/Logs:/plex_logs:ro

  medusa:
    # https://hub.docker.com/r/linuxserver/medusa/
    build: ./medusa
    image: linuxserver/medusa:latest-thilas
    container_name: medusa
    hostname: medusa
    depends_on:
    - plex
    mem_limit: 512m
    env_file:
    - tz.env
    - ids.env
    ports:
    - '8081:8081'
    volumes:
    - %HOME%/.media/medusa:/config
    - %MEDIA%/downloads/tvshows:/downloads
    - %MEDIA%/tvshows:/tv

  radarr:
    # https://hub.docker.com/r/linuxserver/radarr/
    image: linuxserver/radarr
    container_name: radarr
    hostname: radarr
    depends_on:
    - plex
    env_file:
    - tz.env
    - ids.env
    ports:
    - '7878:7878'
    volumes:
    - %HOME%/.media/radarr:/config
    - %MEDIA%/downloads/movies:/downloads
    - %MEDIA%/movies:/movies

  ubooquity:
    # https://hub.docker.com/r/linuxserver/ubooquity/
    image: linuxserver/ubooquity
    container_name: ubooquity
    hostname: ubooquity
    env_file:
    - tz.env
    - ids.env
    # environment:
    # Set the maximum memory
    # - MAXMEM=256
    ports:
    - '2202:2202'
    - '2203:2203'
    volumes:
    - %HOME%/.media/ubooquity:/config
    - %MEDIA%/books:/books
    - %MEDIA%/comics:/comics
